/* CSS declarations go here */
.LandingBannerSpace
{
	background-image: url("/LandingImage.jpg") ;
	background-size: cover;
	min-height: 90vh;
	text-align: center;

	.MainLogo
	{
		max-width: 200px;
	}
}