/* CSS declarations go here */
.TrySpace
{
	min-height: 90vh;
	background-color: #57BCE8;
		position: relative;
		text-align: center;


	.WorldImage
	{
		max-width: 300px;
	}
	.SeaweedContainer
	{
		width:100%;
		position: absolute;
		bottom: 0;

		img
		{
			width: 100%;
		}
	}
}	



